.grid-container {
    @include media (min-width, 1440px){
        padding: 0;
    }
    @include media (max-width, 1024px){
        padding-left: 30px;
        padding-right: 30px;
    }
}

.cols2-s4 {
    padding: 0;
}

.cta_link{
    color: #b1997c;
}
.alignleft {
    float: left;
    margin-right: 50px;
    padding-bottom: 20px;

    @include media(max-width,1023px){
        float: none;
        width: 100%;
        margin-right: 0;

        &.ba-item {
            margin: 0 auto;
        }
    }
}

.alignright {
    float: right;
    margin-left: 50px;
    padding-bottom: 20px;
    position: relative;

    @include media(max-width,1023px){

        &:not(.dental-crowns) {
            float: none;
            width: 100%;
            margin-left: 0;
        }
    }

    

    @include media(max-width,649px){

        &.dental-crowns {
            float: none;
            width: 100%;
            margin-left: 0;
        }
    }
}

ul {
    margin-left: 0;
    
    &.star-rating {
        li {
            margin-left: 0 !important;
            list-style: none !important;
        }
    }

    &.list {
        li {
            //display: flex;
            align-items: center;
        }

    }

    li:not(.menu-item):not(.page-item){
        //list-style: none;  
        margin-bottom: 20px;
        margin-left: 20px;
        align-items: flex-start;
        list-style-image: url('../img/img-bullet.png');
        
        h4,
        p {
            margin-bottom: 0;
            color: $color-grey;
            font-weight: 600;
            line-height: 1;
        }

        @include media (max-width, 1023px){
        }
    }
}

.page-template-dr-boyle,
.page-template-dr-koch,
.page-template-before-after {
    .content {
        padding-top: 0 !important;
    }
}

.content {
    padding-top: 60px;
    position: relative;


    h2,
    h4 {
        &.section_title {
            color: $color-primary;
            position: relative;
            line-height: 1.2;
            width: max-content;

            &:after {
                content: url('../img/icon/icn-title.svg');
                position: absolute;
                bottom: -37px;
                right: 140px;
                @include media (max-width, 1023px){
                    display: none;
                }
            }

        }
    }

    @include media (max-width, 1024px){
        padding-top: 0;

        section {
        
            padding: 40px 0;
        }
        h2,
        h4 {
            &.section_title {
                width: 100%;
            }
        }
        
    
    }
}

figure {

    &.bg {
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        bottom: 0;
        z-index: -1;
        
        img {
            height: 100%;
            width: 100%;
            object-fit:cover;
        }
    }    
}

.section_socials {
    position: relative;
    margin: 60px 0;
    padding: 30px 0;

    .text-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-ig {
        margin: 0 32px 0 0;
        padding: 15.8px 15.8px;
        border-radius: 24px;
        background-image: linear-gradient(to bottom, #4d5fd5, #a0068a 23%, #fb612b 74%, #ffec81);
    }

    .bg {
        border: solid 1px #cfb188;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }

    h4 {
        margin-bottom: 0;
        color: $color-secondary;

        a {
            color: #c48d49;
            border-bottom: 1px solid #cdad80;
        }
    }

    @include media (max-width, 1023px){
            
        .icon-ig {
            margin: 0 0 20px;
            padding: 10px;
        }

        .text-wrap {
            flex-direction: column; 
            padding-left: 30px;
            padding-right: 30px;
        }
    
    }

}

.section_cta {

    margin: 60px 0;
    padding: 30px 0;
    
    .grid-container {
        position:relative;
    }

    .separator {
        background: #f8f8f8;
    }    

    .button {
        position:absolute;
        left: 0;
        right: 0;
        top: -40px;
        margin: 0 auto;
        max-width: 386px;
    }
    
    &.with_separator {

        .grid-container {
            position:relative;
            &:before,
            &:after {
                content: '';
                background: #f8f8f8;
                width: 34%;
                height: 15px;
                position: absolute;
                top: 50%;
            }

            &:after {
                right: -10px;
            }

            &:before {
                left: -10px;
            }
        }
    }

    @include media (max-width, 1024px){

        padding: 40px 0;

        &.with_separator {
                
            .grid-container {
                position:relative;
                &:before,
                &:after {
                    display:  none;
                }
            }
        }
    }
}

.sec_gallery {
    padding: 120px 0;

    .col-copy {
        position: relative;
        display: flex;
        min-height: 728px;
        align-items: flex-end;
        .section_title_wrap {
            padding: 0 4%;
            margin-bottom: 35px;

            h1 {
                color: $color-white;

                span {
                    
                    display: block;

                }
            }

            .button {
                font-size: 20px;
            }
        }
    }
    
    @include media(max-width,480px){
        align-items: center;
        
        .col-copy {
            flex-direction: column;
            margin-bottom: 65px;

            .section_title_wrap {
                margin-left: 0!important;
                padding-top: 20px;
                text-align: center;

                h1 {
                    margin-bottom: 10px;
                }
            }
        }
    }
    

    @include media(max-width,1024px){
        .col-copy {
            display: block;
            
            .section_title_wrap {
                background: transparent!important;
                margin: 35px auto;
                text-align: center;
                justify-content: center;
                align-items: center!important;
                
                h1 {
                    font-size: 45px!important;
                    color: $color-primary;
                    line-height: 1 !important;
                    span {
                        display: inline!important;
    
                    }
                }
            }
            .bg {
                position: unset;
            }
        }
    }

    @include media(max-width,1023px){
        .col-copy {
            align-items: normal !important;
            min-height: auto;

            .section_title_wrap {
                background: $color-dark;
                margin-left: 13px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 0 !important;

            }
        }
    }
}

.testimonials {
    
    .testimonial_item {
        padding: 0 15px;
    
        &.even {
            .item_wrap {
                background: #fcefe0;
            }

        }

        &.odd {
            .item_wrap {
                background: #f8f8f8;

                &:before {
                    filter: grayscale(1) opacity(0.5);
                }
            }
        }

        .item_wrap {

            border-radius: 40px;
            padding: 0 36px;
            display: flex;
            min-height:433px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            &:before {
                content: '';
                background-image: url(../img/icon/icn-quote.svg);
                width: 28px;
                height: 25px;
                background-size: cover;
                margin: 0 auto 30px;
            }
    
            .client_review {
                p {
                    color: $color-grey;
                    font-size: 17px;
                    line-height: 25px;
                    text-align: justify;
                }
            }

            .client_name {
                font-size: 17px;
                color: $color-secondary;
                font-weight: 800;
                text-transform: uppercase;
            }
            .client_yr {
                font-size: 15px;
                color: $color-secondary;
            }
        }
    }

    @include media (max-width, 480px){
        
        padding: 0;
        .testimonial_item {
            padding: 0;

            .item_wrap {
                padding: 40px 20px;
            }
        }
    }

}
.col-content {
    display: flex;
    align-items: center;
    padding-left: 70px;
    
    .services-content {
        border: 0;

        .tabs-panel {
            .content{
                display: flex;
                align-items: center;
                .col-image {
                    width: 100%;
                    margin-right: 60px;
                    figure {
                        width: 347px;
                    }
                }

                .col-copy{
                    padding-top: 70px;
                    color: $body-color !important;

                    .button {
                       a {
                        font-size: 20px;
                       } 
                    }
                }
            }
        }
    }
}

#single {
    h2 {
        font-size: 45px;
    }

    @media (max-width: 1280px) {
        h1 {
            font-size: 45px;
        }
        h2 {
            font-size: 30px;
        }
    }
}

.services-tabs {

    &.slick-slider {
        border-right: 0 !important;
        padding-right: 14px;
        padding-left: 80px;
        margin-bottom: 30px;

        .tabs-title {
            margin-right: 30px;
        }
        
        .slick-prev, 
        .slick-next {
            z-index: 1;
        }
    
        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }
    }
}

.blog_content {
    h1 {
        font-size: 70px;
    }
}

.col-tabs {
    .services-tabs {
        border: 0;
        border-right: 2px solid #eedfcd !important;

        .tabs-title {
            
            margin-bottom: 15px;
            transition: all 0.3s ease;

            &.slick-current.slick-active,
            &.is-active:not(.slick-current),
            &:not(.slick-current):hover {
                a {
                    .icon {
                        background: $color-dark !important;

                        figure {

                            img {
                                filter: brightness(0) invert(1) !important;
                            }
                        }

                    }

                    .title {
                        color: $body-color !important;
                    }
                }
            }

            &.is-active.slick-active:not(.slick-current),
            &:not(.slick-current) {
                a {
                    .icon {
                        background: transparent !important;
                        
                        figure {

                            img {
                                height: 35px;
                                filter: none !important;
                            }
                        }

                    }

                    .title {
                        color: #d0d0d0;
                    }
                }
            }

            a {
                padding: 0;
                display: flex;
                align-items: center;
                background: transparent;
                translate: all 0.3s ease;
    
                span {
                    &.icon {
                        margin-right: 28px;
                        background: transparent;
                        border-radius: 50px;
                        padding: 13px 10px;
                        translate: all 0.5s ease;
                        width: 62px;
                        height: 62px;

                        figure {                        
                            width: 100%;
                            height: auto;
                        }
                    }
    
                    &.title {
                        color: #d0d0d0;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 1.4;
                        translate: all 0.5s ease;
                    }
                }
            }
        }
        .col-content {

            .tabs-panel {
                .col-copy {
                    padding-top: 0;
                    margin-bottom: 0;

                    h3 {
                        color: $color-secondary;
                        font-size: 35px;
                    }
                    p{
                        font-size: 25px;
                    }
                }

            }

        }
        
        @include media (max-width,768px) {
            .tabs {

                &.vertical {

                    > li {
                        float: left!important;
                    }
                }
                
            }
        }
        
        @include media (max-width,480px) {
            .tabs-title {
                margin-bottom: 0;
                a {
                    flex-direction: column;
                    text-align: center;
                    span {
                        &.icon {
                            display: flex;
                            align-items: center;
                            margin-right: 0;
                            
                            figure {

                                img {
                                    width: 30px;
                                    text-align: center;
                                    margin: 0 auto;
                                }
                            }
                        }
                        &.title {
                            font-size: 20px;
                        }
                    }
                }
                
            }
        }
    }

}


.btn_scroll_up {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background: $color-primary;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    font-size: 0;
    cursor: pointer;

    &:before {
        content: url(../img/icon/icn-chev-up.png);
    }
}


/* HERO STYLE 3 */
.hero-s3 {
    min-height: 100vh;
    position: relative;


    .hero-caption {
        padding: 150px 40px 50px;
        position: relative;
        color: $body-color;
        min-height: 500px;
        h5 {
            line-height: 1.4;
        }
        h6 {
            font-weight: 400;
        }
        p {
            font-weight: 400;
            color: $body-color;
        }
        figure {
            margin-bottom: 30px;
        }
        .grid-x {
            min-height: calc(100vh - 350px);
        }
        .text_wrap {
            margin-bottom: 35px;
            
            p {
                strong {
                    color: $color-secondary;
                }
            }
        }
    }

    .hero-logos {
        position: relative;
        padding: 15px 0; 
        ul {
            margin: 0;
            padding: 0;
            text-align: center;

            li {
                list-style: none;
                display: inline-block;
                padding: 10px 60px;
                max-width: calc(20% - 4px);
            }
        }
    }
    @include media(max-width,1366px) {
        
        figure {
            
            &.bg {
                img {
                    object-position: 77%;
            
                }
            }
        }
    }

    @include media(max-width, 1280px) {
        .hero-caption {
            font-size: 18px;
            h1 {
                font-size: 45px;
            }
        }

        .hero-logos {
            ul {
                li {
                    padding: 10px 30px;;
                }
            }
        }
    }

    @include media(max-width, 1023px) {
        padding: 0;

        .hero-caption {
            height: auto;
        }
    }
    
    @include media(max-width, 639px) {
        .hero-caption {
            font-size: 16px;
            h1 {
                font-size: 32px;
            }
        }

        .hero-logos {
            ul {
                li {
                    max-width: calc(33% - 4px);
                }
            }
        }
    }
    
    @include media(max-width, 480px) {
        .hero-logos {
            ul {
                li {
                    padding:10px;
                }
            }
        }
    }

    @include media (max-width,768px){
        min-height: 100%;

        .hero-caption {
            padding: 50px 0 !important;
        }
    }
    @include media (max-width,1024px){

        .bg {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                top: 0;
                right: 0;
                background-image: linear-gradient( -90deg  , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.58) 80%, #fff);
            }
        }
    }

    @include media (max-width,1440px){
        min-height: 100%;

        .hero-caption {

            .grid-x {
                min-height: auto;
            }
        }
    }
}

#section_header_drboyle {
    background: #f4e4d4;
    position: relative;

    figure {
        &.bg {
            width: 53%;
            z-index: 1;

            img {
                object-position: top;
            }
        }
    }
   
    .cols2-s4 {
        .cell  {
            position: relative;
        }
        .col-image {
            margin-left: calc((-100vw - -1426px) / 2) !important;
            margin-right: 70px;
    
            .bg {
                z-index: 1;
            }
    
        }
    } 
    .section_title {
        z-index: 1;
        position: absolute;
        top: 40%;

        h1 {
            color: $color-white;
            line-height: 1.12 !important;
            letter-spacing: -3.11px;

            span {
                display: block
            }
        }
    }

    .col-copy {

        padding: 130px 0 80px;

        p {
            color: $color-grey;
        }
        
        h4 {
            color: $color-secondary;
        }
    }

    @include media (max-width, 1440px) {   
        .section_title {
            left: 0;

            h1 {
                font-size: 60px;
            }
        }
    }

    @include media (max-width, 1024px) {   
            
        .col-copy {
            padding: 0;
        }
    }

    @include media (max-width, 1023px) {
       
        .col-image {
            margin: 30px auto;
            text-align: center;


            .bg {
                position: unset;
                height: 450px;

                img {
                    object-position: top;
                }
            }
        }
        
        .section_title {
            position: unset;
            h1 {
                color: $color-primary;
                span {
                    
                    display: inline;
                }
            }
        }
    }
}

.section_meet_megan {
    padding: 108px 0 60px;

    .section_title {
        color: $color-primary;

        &:after {
            display: none;
        }
    }

    .col-copy {

        strong {
            color: $color-grey;
        }
        p {
            margin-bottom: 20px;
        }

        li p {
            margin-bottom: 0;
        }
    }

    h3 {
        color: $color-secondary;
        margin-bottom: 36px;

        span {
            font-size: 26px;
            font-weight: 600;
        }
    }

    .col-image {
        margin-bottom: 32px;
    }

    .services_col {
        ul.list {
            li {
                //margin-bottom: 0;
            }
        }
    }
}