.grid-container {
    @include media (min-width, 1440px){
        padding: 0;
    }
    @include media (max-width, 1024px){
        padding-left: 30px;
        padding-right: 30px;
    }
}

.cols2-s4 {
    padding: 0;
}

ul.list {
    margin-left: 0;

    li {
        list-style: none;  
        margin-bottom: 20px; 
        display: flex;
        align-items: center;

        &::before {
            content: '•';
            color: $color-primary;
            font-size: 26px;
            margin-right: 10px;
        }
        
        h4,
        p {
            margin-bottom: 0;
            color: $color-grey;
            font-weight: 600;
        }

        @include media (max-width, 1023px){
            margin-bottom: 0;
        }
    }
}

.content {
    // padding-top: 60px;

    h2,
    h4 {
        &.section_title {
            color: $color-primary;
            position: relative;
            line-height: 1.2;
            width: max-content;

            &:after {
                content: url('../img/icon/icn-title.svg');
                position: absolute;
                bottom: -37px;
                right: 140px;
                @include media (max-width, 1023px){
                    display: none;
                }
            }

        }
    }

    section {
        @include media (max-width, 1024px){
            
            padding: 60px 0;
        }
    }
}

figure {

    &.bg {
        position: absolute;
        left: 0;
        right: 0;
        top:0;
        bottom: 0;
        z-index: -1;
        
        img {
            height: 100%;
            width: 100%;
            object-fit:cover;
        }
    }    
}

.section_cta {
    .grid-container {
        position:relative;
    }

    .separator {
        background: #f8f8f8;
    }    

    .button {
        position:absolute;
        left: 0;
        right: 0;
        top: -40px;
        margin: 0 auto;
        max-width: 386px;
    }
}

.sec_gallery {
    padding: 120px 0;

    .col-copy {
        position: relative;
        display: flex;
        min-height: 728px;
        align-items: flex-end;
        .section_title_wrap {
            padding: 0 4%;
            margin-bottom: 35px;

            h1 {
                color: $color-white;
            }

            .button {
                font-size: 20px;
            }
        }
    }
    
    @include media(max-width,480px){
        .sec_gallery {
            .col-copy {
                flex-direction: column;
                margin-bottom: 65px;

                .section_title_wrap {
                    margin-left: 0!important;
                    padding-top: 20px;
                    text-align: center;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    @include media(max-width,1023px){
        .col-copy {
            align-items: normal !important;
            min-height: auto;

            .section_title_wrap {
                background: $color-dark;
                margin-left: 13px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 0 !important;

            }
        }
    }
}

.testimonials {
    
    .testimonial_item {
        padding: 0 15px;
    
        &.even {
            .item_wrap {
                background: #fcefe0;
            }

        }

        &.odd {
            .item_wrap {
                background: #f8f8f8;

                &:before {
                    filter: grayscale(1) opacity(0.5);
                }
            }
        }

        .item_wrap {

            border-radius: 40px;
            padding: 0 36px;
            display: flex;
            min-height:433px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            &:before {
                content: '';
                background-image: url(../img/icon/icn-quote.svg);
                width: 28px;
                height: 25px;
                background-size: cover;
                margin: 0 auto 30px;
            }
    
            .client_review {
                p {
                    color: $color-grey;
                    font-size: 17px;
                    line-height: 25px;
                    text-align: justify;
                }
            }

            .client_name {
                font-size: 17px;
                color: $color-secondary;
                font-weight: 800;
                text-transform: uppercase;
            }
            .client_yr {
                font-size: 15px;
                color: $color-secondary;
            }
        }
    }

}
.col-content {
    display: flex;
    align-items: center;
    padding-left: 70px;
    
    .services-content {
        border: 0;

        .tabs-panel {
            .content{
                display: flex;
                align-items: center;
                .col-image {
                    width: 100%;
                    margin-right: 60px;
                    figure {
                        width: 347px;
                    }
                }

                .col-copy{
                    padding-top: 70px;
                    color: $body-color !important;

                    .button {
                       a {
                        font-size: 20px;
                       } 
                    }
                }
            }
        }
    }
}

.services-tabs {

    &.slick-slider {
        border-right: 0 !important;
        padding-right: 14px;
        padding-left: 80px;
        margin-bottom: 30px;

        .tabs-title {
            margin-right: 30px;
        }
    
        .slick-prev {
            left: 0;
        }

        .slick-next {
            display: none !important;
        }
    }
}

.col-tabs {
    .services-tabs {
        border: 0;
        border-right: 2px solid #eedfcd !important;
        .tabs-title {
            
            margin-bottom: 15px;
            transition: all 0.3s ease;

            &.slick-current.is-active,
            &.is-active,
            &:hover {
                a {
                    .icon {
                        background: $color-dark !important;
                        figure {

                            img {
                                filter: brightness(0) invert(1) !important;
                            }
                        }

                    }

                    .title {
                        color: $color-dark !important;
                    }
                }
            }

            &:not(.slick-current) {
                a {
                    .icon {
                        background: transparent;
                        
                        figure {

                            img {
                                filter: none;
                            }
                        }

                    }

                    .title {
                        color: #d0d0d0;
                    }
                }
            }

            a {
                padding: 0;
                display: flex;
                align-items: center;
                background: transparent;
                translate: all 0.3s ease;
    
                span {
                    &.icon {
                        margin-right: 28px;
                        background: transparent;
                        border-radius: 50px;
                        padding: 13px 10px;
                        translate: all 0.5s ease;
                        figure {
                            width: 42px;
                        }
                    }
    
                    &.title {
                        color: #d0d0d0;
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 1.4;
                        translate: all 0.5s ease;
                    }
                }
            }
        }
        .col-content {

            .tabs-panel {
                .col-copy {
                    padding-top: 0;
                    margin-bottom: 0;

                    h3 {
                        color: $color-secondary;
                        font-size: 35px;
                    }
                    p{
                        font-size: 25px;
                    }
                }

            }

        }
        
        @include media (max-width,768px) {
            .tabs {

                &.vertical {

                    > li {
                        float: left!important;
                    }
                }
                
            }
        }
    }

}


.btn_scroll_up {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99999;
    background: $color-primary;
    padding: 15px 20px;
    border-radius: 10px 10px 0 0;
    font-size: 0;
    cursor: pointer;

    &:before {
        content: url(../img/icon/icn-chev-up.png);
    }
}


/* HERO STYLE 3 */
.hero-s3 {
    min-height: 100vh;
    position: relative;


    .hero-caption {
        padding: 150px 40px 50px;
        position: relative;
        color: $body-color;
        min-height: 500px;
        h5 {
            line-height: 1.4;
        }
        h6 {
            font-weight: 400;
        }
        p {
            font-weight: 300;
            color: $body-color;
        }
        figure {
            margin-bottom: 30px;
        }
        .grid-x {
            min-height: calc(100vh - 350px);
        }
        .text_wrap {
            margin-bottom: 35px;
            
            p {
                strong {
                    color: $color-black;
                }
            }
        }
    }

    .hero-logos {
        position: relative;
        padding: 15px 0; 
        ul {
            margin: 0;
            padding: 0;
            text-align: center;

            li {
                list-style: none;
                display: inline-block;
                padding: 10px 60px;
                max-width: calc(20% - 4px);
            }
        }
    }
    @include media(max-width,1366px) {
        
        figure {
            
            &.bg {
                img {
                    object-position: 77%;
            
                }
            }
        }
    }

    @include media(max-width, 1280px) {
        .hero-caption {
            font-size: 18px;
            h1 {
                font-size: 45px;
            }
        }

        .hero-logos {
            ul {
                li {
                    padding: 10px 30px;;
                }
            }
        }
    }

    @include media(max-width, 1023px) {
        padding: 0;

        .hero-caption {
            height: auto;
        }
    }
    
    @include media(max-width, 639px) {
        .hero-caption {
            font-size: 16px;
            h1 {
                font-size: 32px;
            }
        }

        .hero-logos {
            ul {
                li {
                    max-width: calc(33% - 4px);
                }
            }
        }
    }
    
    @include media(max-width, 480px) {
        .hero-logos {
            ul {
                li {
                    padding:10px;
                }
            }
        }
    }

    @include media (max-width,768px){
        min-height: 100%;

        .hero-caption {
            padding: 50px 0 !important;
        }
    }
    @include media (max-width,1024px){

        .bg {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                top: 0;
                right: 0;
                background-image: linear-gradient( -90deg  , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.58) 80%, #fff);
            }
        }
    }

    @include media (max-width,1440px){
        min-height: 100%;

        .hero-caption {

            .grid-x {
                min-height: auto;
            }
        }
    }
}

#section_header_drboyle {

    background: #f4e4d4;
   
    .cols2-s4 {
        .col-image {
            margin-right: 0;
            position: relative;
    
            .bg {
                z-index: 1;
            }
    
            .section_title {
                z-index: 1;
                position: absolute;
                top: 40%;
                right: 30px;
    
                h1 {
                    color: $color-white;
    
                    span {
                        display: block
                    }
                }
            }
        }

        .col-copy {
            padding: 108px 0 50px;
            padding-left: 30px;
    
            p {
                color: $color-grey;
            }
            
            h4 {
                color: $color-black;
            }
        }
    
    
    }

    @include media (max-width, 1023px) {
        .cols2-s4 {

            .col-image {
    
                .section_title {
                    right: auto;
                    left: 30px;
                }

                .bg {
                    position: unset;
                    height: 450px;

                    img {
                        object-position: top;
                    }
                }
            }
    
            
            .col-copy {
                padding: 0;
            }

        }
    }
}

.section_meet_megan {
    padding: 108px 0 60px;

    .subtitle {
        text-transform: uppercase;
        color: $color-primary;
        font-weight: 600;
        margin-bottom: 0;
    }

    .section_title {
        color: $color-primary;

        &:after {
            display: none;
        }
    }

    .col-copy {

        strong {
            color: $color-grey;
        }
    }

    h3 {
        color: $color-black;
        margin-bottom: 36px;
    }

    .col-image {
        margin-bottom: 32px;
    }

    .services_col {
        ul.list {
            li {
                margin-bottom: 0;
            }
        }
    }
}