
// Select Footer Style
.footer {
    border-top: 14px solid $color-dark;
    background: #f8e9da;
    font-size: 15px;
    padding-top: 130px;

    * {
        color: $body-color;
        font-size: 20px;
        @include media(max-width, 480px){
            font-size: 16px!important;
        }
    }

    a {
        &:hover {
            color: $color-primary;
            strong {
                color: $color-primary;
                transition: 0.3s ease all;
            }
        }

        &.phonenum {
            font-weight: 800;
            font-size: 25px;
            color: $color-primary;
        }
            
        &.meet_founder {
            border-top: 1px solid #d1c0ac;
            border-bottom: 1px solid #d1c0ac;
            color: $color-grey;

            &:hover{
                color: $color-primary;
            }
        }
    }

    h3.col-title {
        color: $color-primary;
        margin-bottom: 32px;
    }

    .text_wrap {
        margin-bottom: 32px;
    }

    .foot_about {

        p {
            color: $color-grey;
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 0;
            @include media(max-width, 480px){
                font-size: 16px;
            }
        }
    }

    .foottop {
        padding-bottom: 40px;
    }

    .foot_logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        figure {
            margin-bottom: 40px;
        }

        a {
            display: inline-block;
            margin:0 0 40px;
        }
        h3 {
            line-height: 1.6;
            margin:0 0 40px 30px;
            font-weight: 400;
            max-width: 390px;
        }

    }

    .foot_contact {
        position: relative;

        ul {
            margin:0;
            padding:0;

            li {
                list-style: none;
                font-size: 14px;
                padding:8px 0;

                a {
                    display: inline-block;
                    position: relative;
                    padding: 0 0 0 40px;
                    color: darken($color-white, 20%);

                    [class*=ai] {
                        position: absolute;
                        left: 0;
                        font-size: 20px;
                        color: $color-white;
                        line-height: 1.2;
                    }
                }
            }
        }
    }

    .footer_menu {
        .menu {
            li.menu-item {
                padding-bottom: 18px;
                a {
                    color: $color-grey;
                    padding: 0px;
                    font-size: 20px;
                }
            }
        }
    }

    .footbot {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .copyright,
        .designby {
            font-size: 15px;
            a {
                font-size: 15px;
            }
        }
    }
    .follow_us {
        display: flex;
        h5 {
            font-size: 16px;
            text-transform: uppercase;
            margin:3px 15px 0 0;
        }        
        ul {
            display: flex;
            margin:0;
            padding:0;
            
            li {
                list-style: none;
                padding: 0 8px;
                a {

                    &:hover {
                        [class*=ai] { 
                            color: $color-primary;
                        }
                    }
                    [class*=ai] {
                        font-size: 22px;
                        color: $color-white;
                        line-height: 1.2;
                    }

                }
            }
        }
    }


    @include media(max-width, 1023px){
        padding-top: 80px;
        .foot_logo {
            margin-bottom: 40px;
            justify-content: center;
            align-items: center;
        }
        .footbot {
            justify-content: center;
            flex-direction: column;
        }
    }
    
	@include media(max-width, 767px) {   
        text-align: center;

        .foottop {
            padding-bottom: 0;
        }

        .foot_logo {
            display: block;
            a {
                margin-bottom: 10px;
            }

            h3 {
                margin-left: 0;
                margin-bottom: 15px;
                max-width: none;
            }
        }

        .foot_contact {
            max-width: none;
            margin-bottom: 10px;
        }

            
        .footer_menu {
            .menu {
                li.menu-item {
                    padding-bottom: 10px;
                }
            }
        }

        .follow_us {
            justify-content: center;
            margin-bottom: 10px;
        }

        .copyright {
            float: none;
            text-align: center;
            margin-right: 0;
        }

        .designby {
            text-align: center;
        }
    }
}