
/* FORMS */
$field-height: 67px;
$field-height-sm: 45px;

::-moz-placeholder{color:#333;opacity:1;}
:-ms-input-placeholder{color:#333;}
::-webkit-input-placeholder{color:#333;}
:focus::-webkit-input-placeholder {opacity:0.3;}
:focus::-moz-placeholder {opacity:0.3;}
:focus:-ms-input-placeholder {opacity:0.3;}

input[type="text"], 
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
    color: $color-grey;
    border: 2px solid $color-dark;
    height: $field-height;
    padding:15px 20px;
    font-size: 17px;
    font-family: $body-font-family;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 7px;

    &:focus {
        border: 1px solid $color-primary;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .small & {
        height: $field-height-sm;
        padding:10px 25px 10px 10px;
    }
}
input[type="text"], 
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
    background: $color-white;

    &:focus {
        background: $color-white;
    }
}
textarea {
    resize: none;
    height: auto;
}

select {
    padding-right:30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fefefe;


    &::-ms-expand {
        display: none;
    }
}


.radiobox {
    label {
        position: relative;
        padding: 0 40px 0 30px;
        min-height: 30px;
        input {
            position: absolute;
            left: 0;
            opacity: 0;

            & + span {
                display: block;
                padding: 6px 0 0;
                line-height: 1.2;
                &:before {
                    content: "";
                    width: 18px;
                    height: 18px;
                    border:2px solid $color-grey;
                    border-radius: 50%;
                    position: absolute;
                    left: 4px;
                    top:4px;
                }
            }
            &:checked + span {
                &:after {
                    content: "";
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: $color-secondary;
                    position: absolute;
                    top:4px;
                    left: 4px;
                }
            }
        }

    }

    &.inline {
        label {
            display: inline-block;
        }
    }
}


.checkbox {
    position: relative;
    margin:0 0 30px;

    .ginput_container {
        position: relative;

        [type="checkbox"] {
            position: absolute;
            opacity: 0;
            z-index: 1;

            &:checked {
                + *:before {
                    content: "\2713";
                    background: $color-primary;
                    border-color: $color-primary;
                    color: $color-white;
                }
            }
        }
        .gfield_consent_label {
            position: relative;
            display: block;
            margin: 0;
            padding: 0 0 0 30px;
            line-height: 1.5;
            color: $color-dark;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top:0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $color-white;
                border: 1px solid $color-grey;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}


//Custom Class
.field, .fields, .gfield {
    position: relative;
    margin-bottom: 14px;
    text-align: left;

    input, select, textarea, select {
        margin-bottom: 0;
    }

    label {
        font-size: 18px;
        line-height: 1;
        color: lighten($color-black, 7%);
        margin-bottom: 10px;;
    }

    [type="checkbox"] + label {
        font-size: 14px;
    }

    &.js {
        label {
            color: lighten($color-black, 50%);
            position: absolute;
            left: 20px;
            top: 22px;
            transition: all 0.2s ease;
            background: $color-white;
            z-index: 1;
            margin-bottom: 0;
        }
        &.focus {
            > label {
                top: 8px;
                font-size: 14px; 
            }
            input, select, textarea, select {
                padding-top: 25px;
                padding-bottom: 8px;
            }
        }
        
        .focus {
            > label {
                top: 8px;
                font-size: 14px; 
            }
            input, select, textarea, select {
                padding-top: 25px;
                padding-bottom: 8px;
            }
        }
    }

    &.error, &.gfield_error {
        position: relative;
        &:before {
            content:"";
            position: absolute;
            left: -10px;
            top:-10px;
            right: -10px;
            bottom: -10px;
            background: transparent;
            z-index: -1;
        }
        &.js {
            label {
                 color: lighten($color-black, 50%);
            }
        }

        label {
            color: darken($color-alert, 8%);
        }
        input, select, textarea {
            border-color: #FAE8DA;
            & + span {
                color: darken($color-alert, 8%);
                font-size: 14px;
                font-weight: bold;
                display: block;
                margin-bottom: -5px;
            }
        }
    }

    .wpcf7-not-valid {
        border-color: darken($color-alert, 8%);
    }
    .wpcf7-not-valid-tip {
        color: darken($color-alert, 8%);
        font-size: 14px;
        display: block;
        margin-bottom: -5px;
    }
}

.gform_submission_error {
    font-size: 20px;
}


//For gravity form
.ginput_container_name {
    > span {
        position: relative;
    }
}
.validation_message {
    color: $color-black;
    font-size: 14px;
}

.validation_error {
    font-size: 14px;
    color: $color-primary;
    margin: 0 0 20px;
}


//Gravity form custom
textarea.small {
	height: 132px;
}    
textarea.medium {
	height: 200px;
}    
.fields {
	.ginput_container_name {
		display: flex; 
		margin-left: -15px;
		margin-right: -15px;

		> * {
			flex-basis: 50%;
			margin-left: 15px;
			margin-right: 15px;
		}
	}
}

ul.gform_fields  {
    margin:0 0 20px;
    
    li {
        list-style: none;

        &.hidden_label {
            > label {
                display: none;
            }
        }
    }

    .hidden_sub_label {
        display: none;
    }

    .field {
        .ginput_container {
            span {
                display: block;
                
                + span {
                    margin-top: 15px;
                }
            }
        }
    }
}
.spacer.gfield {
    display: none;
}
.footer-info .btn-phone {
    font-size: 14px;
    margin-top: 20px;
    color: #fff;
    font-weight: 500;
    display: inline-block;
}
#gform_wrapper_7 {

    .gform_submission_error {
        font-size: 18px;
        color: $color-white;
    }
    #gform_7 {
        .validation_message {
            color: $color-white;
        }
    }
    

}

#gform_wrapper_12 {

    .ginput_complex {
        display: block !important;

        &:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full) {
            padding-right: 0 !important; 
        }

        span:first-child input{            
            margin-bottom: 20px;
        }
    }

    #gform_12 {
        position:relative;
    
        .gfield {
    
            float: left;
            width: 49%;
            margin-bottom: 20px;
    
            label,
            legend {
                display: block;
                font-size:14px;
            }
            textarea.medium {
                height: 200px !important;
            }
    
            &.btn_cta_call {
                width: 100%!important;
                float: right !important;
                position: absolute;
                bottom: 40px;
                z-index: -1;
    
                .btn-phone {
                    font-weight: 500;
                    font-size: 25px;
                    color: #fff;
                    float: right;
                    margin: 8px 30px 0 0;
                }
            }
    
        }
    
        .service_field {        
            float: right;
            position: absolute;
            right: 0;
        }
    
        .message_field {
            float: right;
            position: absolute;
            right: 0;
            top: 87px;

        }
    
        .gform_footer {                      
            float: right;
            position: absolute;
            bottom: 30px;
            right: 0;
        }
    
        .ginput_complex {
            label,
            legend {
                display: block;
                font-size:14px;
            }
        }
    
        @include media (max-width, 1023px){
    
            .gfield {
                float: none;
                width: 100%;
                margin-bottom: 10px !important;
    
                
                .ginput_complex {
                    display: flex;
                }        
    
            }
            .message_field {
                float: none;
                position: unset;
            }
    
    
        }
    
    }
    
}
.hero-form {
    #gform_wrapper_6 {

        .gform_submission_error {
            font-size: 18px;
            color: $color-white;
        }
            
        #gform_6 {
            position:relative;

            .validation_message {
                color: $color-white;
            }

            .gfield {
        
                float: left;
                width: 49%;
                margin-bottom: 0;

                label,
                legend {
                    display: block;
                    font-size:14px;
                }
                textarea.medium {
                    height: 200px !important;
                }

                &.btn_cta_call {
                    width: 100%!important;
                    float: right !important;
                    position: absolute;
                    bottom: 40px;
                    z-index: -1;

                    .btn-phone {
                        font-weight: 500;
                        font-size: 25px;
                        color: #fff;
                        float: right;
                        margin: 8px 30px 0 0;
                    }
                }

            }

            .message_field {
                float: right;
                position: absolute;
                right: 0;
            }

            .gform_footer {     
            }
            .ginput_complex {
                label,
                legend {
                    display: block;
                    font-size:14px;
                }
            }

            @include media (max-width, 1023px){

                .gfield {
                    float: none;
                    width: 100%;
                    margin-bottom: 0;
    
                    
                    .ginput_complex {
                        display: flex;
                    }        

                }
                .message_field {
                    float: none;
                    position: unset;
                }
    

            }

        }

    }
}

.gform_wrapper {
  
    #gform_4 {
        position:relative;
        .gfield {
    
            float: left;
            width: 49%;
        }

        .message_field {
            float: right;
            position: absolute;
            right: 0;
        }

        .gform_footer {
            float: right;
            position: absolute;
            bottom: -30px;
            right: 0;
        }
    }
    
    .gform_fields {
        width: 100%;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(auto-fill,auto);

        .gfield {
    
            grid-column: 1/-1;

            &.gfield--width-half{
                grid-column: span 6;

                &.gfield_email {                                    
                    padding-right: 2%!important;
                }
                &.gfield_phone {                                    
                    padding-right: 2% !important;
                }
            }
        }
        
        @include media(max-width, 1023px){
            .gfield {
                &.gfield--width-half{
                    grid-column: 1/-1 ;
                
                    &.gfield_email {                                    
                        padding-right: 0!important;
                    }
                    &.gfield_phone {                                    
                        padding-right: 0!important;
                    }
                }
            }
        }
        @include media(max-width, 480px){

            fieldset {
            
                &.gfield {
                    margin-bottom: 0;
    
                    .ginput_complex {
                        flex-direction: column;
                        span {                  
                            padding-right: 0;     
                            margin-bottom: 14px;
                        }
                    }
                }

            }
        }
    }
    
    .gform_footer, 
    .gform_page_footer {
        margin: 6px 0 0;
        padding: 16px 0;
    }

    .hidden_label .gfield_label, 
    .hidden_sub_label, 
    .screen-reader-text {
        border: 0;
        clip: rect(1px,1px,1px,1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        word-wrap: normal!important;
    }

    .ginput_complex {
        display: flex;
        flex-flow: row wrap;

        label,
        legend {
            display: none;
        }

        span {
            flex: 1;
            padding-right: 1%;
        }
        

        @include media (min-width, 1023px){
            .gform_fields {
                    
                display: block;
                grid-template-columns: repeat(12,1fr);
                grid-template-rows: repeat(auto-fill,auto);
            }
        }

        @include media (min-width, 641px){

            &:not(.ginput_container_address) {
                fieldset,
                span {
                    &:not([style*="display:none"]) {
                        &:not(.ginput_full) {
                            padding-right: 1%;
                        }

                        &:not(.ginput_full)~span:not(.ginput_full) {
                            padding-right: 0;
                            padding-left: 1%;
                        }

                    }
                }
            }

            &:not(.ginput_container_address) {
                fieldset,
                span {
                    &:not([style*="display:none"]) {
                        &:not(.ginput_full) {
                            padding-right: 1%;
                        }

                    }
                }
            }

        }
    }

    @include media (max-width, 768px){

        .gform_footer {
            float: none !important;
            position: unset !important;

            .button {
                width: 100%;
            }
        }
    
        .gform_fields {
    
            .gfield {
        
                float: none !important;
                width: 100% !important;
            }
    
            .message_field {
                float: none !important;
                position: unset !important;
            }
        }   
        
    }

}