.no-js .navbar {
    display: none;
}

@media screen and (min-width: 40em) {
    .no-js .navbar {
        display: block;
    }

    .no-js .page_header {
        display: none;
    }
}

.row {
    padding: 30px 0;
    max-width: $grid-container;
}

.columns {

    @include media (max-width, 1024px){
        
        flex: none!important;
    }
}

@include media (max-width, 1023px){
        
    .video-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
        padding-bottom: 0 !important;
    }

    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.block1
.block2,
.block3 {
    h1{ 
        margin-bottom:60px;
    }
}

.block2,
.block3 {
    .grid-x {
        padding: 40px 0;

        @include media(max-width,1024) {
            padding: 20px 0;
        }
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.gform_3 {
    .gform_footer  {
        .button {
            min-width: 100%;
        }
    }
}

.ico {
    background: url(../../img/icons.png) no-repeat top left;
    display: inline-block;
    vertical-align: middle;
    
    &.play-btn {
        background-position: 0 -86px;
        width: 89px;
        height: 89px;
        opacity: 0.5;
        cursor: pointer;
    }

    &.star {
        background-position: 0 0;
        width: 139px;
        height: 19px;
        display: block;
        margin: 0 auto 23px;
    }
}

.landing-template {

    h2.gform_submission_error{
        color: $color-grey !important; 
        font-size: 20px !important;
    }
    ul li { 
        list-style: none !important; 
    }
    .landing-page {
        header {
            .slider-holder{
                left: -70px;
            }
            .slider-item .content {
                padding-top: 0;
            }
        }

        .grid-container {
            @include media (max-width, 1440px){
                padding: 0 30px;
            }

        }

        @include media (max-width, 1023px){
            .testimonials  {

                .slick-arrow {
                    &.slick-prev {
                        left: -30px  !important;
                    }
                    &.slick-next {
                        right: -30px  !important;
                    }
                }
            }
        }
    }

    @include media( max-width, 575px) {
            
        .landing-page {
            header {
                .slider-holder{
                    margin: 0 auto 50px;
                    max-width: 400px;
                }
            }
        }

    }

    @include media( max-width, 480px) {
            
        .landing-page {
            header {
                .slider-holder{
                    max-width: 295px;
                }
            }
        }

    }
    
}

.reveal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: none;
    background-color: hsla(0,0%,4%,.8);
    overflow-y: auto;

    .close-button, .close-button.medium {
        right: 0rem;
        top: -5px;
        font-size: 2em;
        line-height: 1;
    }
}

#popup-video {
    background: transparent none repeat scroll 0% 0%;
    border: 0px none;
    top: 15% !important;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;

    .gallery-item {        
        width: 25%;

        .gallery-icon {
            padding: 10px;
        }
    }

    @include media (max-width, 1024px){
        .gallery-item {        
            //width: 31%;
        }
    }

    @include media (max-width, 480px){
        .gallery-item {        
            width: auto;
        }
    }
}

#services {
    .block1{
        .ttl {
            h1 {
                font-family: 'Poppins';
            }
        }

        @include media (max-width, 1024px) {
                
            .ttl {
                h1 {
                    font-size: 45px;
                }
            }
        }
    }
}

#studio_about {

    .block1 {

        .button.primary.large {

            &:hover {
                background: #E5CFB4 !important;
            }
        }
    }
    .block2 {
        position: relative;
        min-height: 532px;
        background: url(../../img/video-bg.jpg) no-repeat center center;
        background-size: cover;
        overflow: hidden;    
        
        padding-right: 1.875rem;
        padding-left: 1.875rem;

        .left {
            padding-top: 220px;
            padding-bottom: 220px;
        }
        .right {                
            padding-top: 70px;
            padding-bottom: 70px;

            p{
                color: #fff;
            }

            h2 {
                .white {
                    text-transform: uppercase;
                }
            }
        }

        @include media(max-width, 1023px){
            .left {
                padding-top: 50px;
                padding-bottom: 50px;
                margin: 0 auto;
            }
            .right {
                padding-top: 30px;
                padding-bottom: 30px;
            }
                    
        }
    }
    .block3 {
        .item {

            img {
                
                padding-bottom: 20px;

                &.alignleft  {
                    float: left;
                }
                
            }

            &:nth-child(2n) img {
                float: right;
                padding-right: 0;
                padding-left: 30px;
            }
        }
    }
}

#spa {
    .block2 {
        .right{
            position: relative;
            display: flex;
            align-items: center;

            ul{
                
                margin-left: 11px;
                column-count: 2;
                column-gap: 40px; 
    
                li {                
                    margin-bottom: 20px;
                    display: block;
                    list-style: none;

                    &:before {
                        display: none;
                    }
                    
                    &:nth-child(4n+2) {
                        margin-right: 0;
                    }
                }
            }
        }

    }
}


#studio {
    .block2 {
        .right{
            position: relative;
            
            ul{
                
                margin-left: 11px;
                column-count: 2;
                column-gap: 40px; 
    
                li {                
                    margin-bottom: 20px;
                    display: block;
                    list-style: none;

                    &:before {
                        display: none;
                    }
                    
                    &:nth-child(4n+2) {
                        margin-right: 0;
                    }
                }
            }
        }

    }
}

#blog {
    .block2 {
        .blogpost { 
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: -15px;
            margin-right: -15px;

            .post-item {
                padding: 0 15px;

                .post-inner {                    
                    margin-bottom: 30px;
                    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.10);
                    padding: 30px;
                    background: #f8f8f8;
                }
            }

        }
        
        .custom-pagination {
            text-align: center;

            .next,
            .prev {
                &:after {
                    content: url(../img/icon/icn-arrow-lsmall.svg);
                    position: relative;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }

            .next {
                float: right;
                margin-right: 20px;
                &:after {
                    right: -20px;
                }
            }

            .prev {
                float: left;
                margin-left: 20px;
                &:after {
                    left: -60px;
                    transform: rotate(180deg);
                    display: inline-block;
                }
            }
        }
    }
    @include media (max-width, 768px) {
        .block2 {
            .blogpost {                
                grid-template-columns: none;
            }
        }
    }

    @include media (max-width, 1023px) {
        
        .block1 {
            
            h1 {
                text-align: center;
            }
            
        }
    }
}
#custom_gallery,
#studio {

    .yt-vid {
        
        margin-bottom: 22px;
    }

    @include media (max-width, 1023px) {
        .block1 {
            
            h1 {
                text-align: center;
            }
            
        }
    }

}

#contact {
    .block1 {
        .cont {
            label {
                font-size: 12px;
                color: #362627;
            }
        }

        .left-cont {
            position: relative;
            z-index: 2;
            background: #fff;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .contact-map {

             iframe {
                height: 800px;
                border: 0;
                max-height: 100%;
            }

            @include media (max-width, 1023px) {
                            
                width: 100%;
                height: 400px;
                position: relative;
                transform: translate(0%,0%); 
                
                iframe {                    
                    height: 400px;
                }
            }
        }
    }
}

.container {
    height: 357px;

    .inner{
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden; 
        position: relative;

        
        figure.before_img { 
            position: absolute;
            background-size: cover;
            font-size: 0;
            width: 100%;
            height: 357px;
            margin: 0; 
        }

        #divisor { 
            background-size: cover;
            position: absolute;
            width: 50%; 
            box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
            bottom: 0; height: 100%;
            height: 357px;
        
            &::before,
            &::after {
                content: '';
                position: absolute;
                right: -2px;
                width: 4px;
                height: calc(50% - 25px);
                background: white;
                z-index: 3;
            }
            &::before {
                top: 0;
                box-shadow: 0 -3px 8px 1px rgba(0,0,0,.3);
            }
            &::after {
                bottom: 0;
                box-shadow: 0 3px 8px 1px rgba(0,0,0,.3);
            }
        }
        #handle {
            position: absolute;
            height: 50px;
            width: 50px;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            z-index: 1;
            
            &::before,
            &::after {
                content: '';
                width: 0;
                height: 0;
                border: 6px inset transparent;
                position: absolute;
                top: 50%;
                margin-top: -6px;
            }
            &::before {
                border-right: 6px solid white;
                left: 50%;
                margin-left: -17px;
            }
            &::after {
                border-left: 6px solid white;
                right: 50%;
                margin-right: -17px;
            }
        }

        input[type=range]{
            -webkit-appearance:none;
            -moz-appearance:none;
            position: absolute;
            top: 26%; 
            left: -25px;
            transform: translateY(-50%);
            background-color: transparent;
            width: calc(100% + 50px); 
            z-index: 2;
        
            &:focus,
            &:active {
                border: none;
                outline: none;
            }
        }
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background: transparent;
            border: 4px solid white;
            box-shadow: 0 0 8px 1px rgba(0,0,0,.3);
        }
        input[type=range]::-moz-range-track {
            -moz-appearance:none;
            height:15px;
            width: 100%;
            background-color: transparent; 
            position: relative;
            outline: none;    
        }
    }
}

.large-order-2 {

    .col-image {
        &.ba-wrap {        
            padding-left: 105px;
            padding-right: 0;
        }
    }
}

.col-image {
    &.ba-wrap {        
        padding-left: 240px;

        @include media(max-width, 1720px){
            padding-left: 0 !important;
            padding-right:0 !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }
}

.ba-item {
    
    position: relative; overflow: hidden; vertical-align: top; max-height: 800px;
    img{width:100%;display:block;max-width:none}

    .txt-before {position: absolute; left: 40px; bottom: 30px; white-space: nowrap; color: #f1f1f1; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.34);
        strong, .ba-gallery .ba-item .txt-after strong {font-weight: normal; color: #c6262e;}
    }
    .txt-after {position: absolute; right: 40px; bottom: 30px; white-space: nowrap; color: #f1f1f1; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.34);}
    .resize{position:absolute;top:0;left:0;height:100%;width:50%;overflow:hidden}
    .handle{
        position:absolute;
        left:50%;
        top:0;
        bottom:0;        
        right: -2px;
        width:4px;
        margin-left:-2px; 
        cursor:ew-resize;
        background: white;
        z-index: 3;
        
        &:after{
            position: absolute;
            top: 50%;
            margin: -32px 0 0 -28px;
            content: '';
            border-radius: 50%;
            transition: all .3s ease;
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.40);
            width: 57px;
            height: 57px;
            border-radius: 9px;
            background: url("../img/img-slider.png"), linear-gradient(to bottom, #e5cfb4, #d1a979);
        }
    }
    @include media (max-width, 1024px){
        margin-bottom: 20px;
    }
    @include media (max-width, 1023px){
        width: 100% !important;
    }
    @include media (max-width, 1280px){
        width: 49%;
    }
}