.section_header_before_after {
    color: $color-black;
    padding: 84px 0 114px;
    
    h1 {        
        color: $color-black;
        .highlight {
            color: $color-primary;
        }
    }

    .col-copy {
        color: $body-color;
        padding-left: 45px;
    }

    @include media (max-width, 1023px) {
            
        .col-copy {
            padding-left: 0;
        }
    }
}

.section_patient {
    background-image: linear-gradient(to top, rgba(244, 228, 212, 0), #f4e4d4);

    h4 {
        color: $color-secondary;
    }

    .img_caption {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 65px;
        align-items: center;

        .patient {
            font-size: 22px;
            color: $color-grey;
            font-weight: 600;
        }
    }

    .ba-item {
        width: 100%;
    }

    .cols2-s4 {
        
        .large-order-2 {
            
            .col-image {
                margin-right: calc((-100vw - -1380px) / 2);
                padding-right: 90px;
                padding-left: 80px;
                margin-left: 0;

                .ba-item {
                    width: 84%;
                }
            }
            .img_caption {
                padding-left: 80px;
            }
            
        }

        .img_caption {
            padding-right: 80px;
        }
            
        .col-image {
            margin-right: 0;
            margin-bottom: 20px;
            padding-right: 80px;
            margin-left: calc((-100vw - -1380px)/2);

            .ba-item {
                height: 380px;
            }
        }

        .large-order-1 {
            &.col-copy {
                padding-left: 0;
                padding-right: 60px;
            }
        }
        
        .col-copy {
            padding-right: 0;
            padding-left: 20px;
            padding-top: 60px;
        }

    }

    @include media(min-width, 1921px){
        .cols2-s4 {
            .large-order-2 {
                
                .col-image {
                    padding: 0;
                    margin:0;
                    .ba-item {
                        width: 100%;
                    }
                } 
                .img_caption {
                    padding-left: 0;
                }
            }

            .col-image {
                padding: 0;
                margin:0;
            }
                
            .img_caption {
                padding-right: 0;
            }
            
            .large-order-1.col-copy {
                            
                padding-left: 0;
            }
            .col-copy {
                padding-top: 80px;
                padding-right: 0;
            }
        }
    }

    @include media(max-width, 1024px){
                
        .cols2-s4 {
            .col-copy {
                padding-right: 0 !important;
            }
        }
    }

    
    @include media(max-width, 1800px){
        .cols2-s4 {
            .large-order-2 {
                
                .col-image {
                    .ba-item {
                        width: 100% !important;
                    }
                } 
            }
            
            
            .col-image {
                .ba-item {
                    height: 100% !important;
                }
            } 
        }
    }
    
    @include media(max-width, 1023px){
                
        .cols2-s4 {
            .large-order-2 {
                
                .col-image {
    
                    .ba-item {
                        width: 100%;
                    }
                }
                .img_caption {
                    padding-left: 0;
                }
            }
            .img_caption {
                padding-right: 0;
            }

            .large-order-1.col-copy {
                            
                padding-left: 0;
            }
        }
    }
}

.before_after {

    .section_title {        

        h1 {
            letter-spacing: -3.11px;
            line-height: 0.85 !important;
            margin-bottom: 0;
        }

        .sec_gallery {
            .section_title_wrap {
                h1 {
                    font-size: 94px;
                }
            }
        }


        @include media(max-width, 1024px){
                    
            margin-bottom: 15px;

           h1{
               line-height: 1;
                margin-bottom: 0;
            }                

            .sec_gallery {
                .section_title_wrap {
                    h1 {
                        font-size: 45px;
                    }
                }
            }

        }
    }

    .sec_gallery {       

        .col-copy {
            position: relative;

            &:before {
                content: '';
                background: url(../img/bgs/sec_gallery.jpg) no-repeat;
                width: 378px;
                height: 815px;
                position: absolute;
                left: -30px;
                top: -45px;
                z-index: -1;
            }

            h1 {
                
                line-height: 0.8 !important;

                span {
                    
                    display: block;

                }
            }

            
            @include media(max-width, 1023px){
                .section_title_wrap {
                    align-items: center;
                    h1 {
                        padding-bottom: 20px;
                        text-align: center;
                        span {
                            display: inline;
        
                        }
                    }

                }
            }

        }

    }
}