.home {

    .content {
        padding-top: 0;

        .sec_request {

            min-height: 1113px;
            background: $color-white;
            padding: 135px 119px;

            .section_title {
                &:after {
                    content: url('../img/icon/icn-title.svg');
                    position: absolute;
                    bottom: -38px;
                    right: 0;
                }
            }

            .col-image {
                position: relative;

                figure {
                    position: absolute;
                    left: -85px;
                    width: 712px;
                    z-index: 1;
                    top: -46px;
                }
            }
            
            .col-copy {
                
                z-index: 2;
                .text_wrap {
                    margin-bottom: 65px;

                    h4 {
                        color: $color-secondary;
                    }
                }
            }
        }

        .sec_google_review {
            position: relative;

            .grid-container {
                max-width: 1560px;
                padding: 0;
            }

            .section_title_wrap {
                display: flex;
                flex-direction: row;

                figure { 
                    width: 80%;
                }

                h4.section_title {
                    color: $color-secondary;
                    line-height: 1.8;
                    position: relative;

                    &:after {
                        content: url('../img/icon/icn-title-grev.svg');
                        position: absolute;
                        bottom: -30px;
                        right: 10px;
                    }
                }
            }

            .text_wrap {
                margin-bottom: 40px;
            }

            figure {
                &.bg{
                    z-index: -1;
                }
            }

            .col-copy {
                background: #f4e4d4;
                margin: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 30px 72px 30px 89px;
                min-height: 952px;
            }
        }
        
        .sec_testimonials {
            padding: 140px 0 190px;

            h4 {
                font-size: 25px;
                font-weight: 400;
                color: $color-grey;
                margin-bottom: 0;
            }

            h2.section_title  {
                position: relative;
                &:after {
                    content: url('../img/icon/icn-title-testi.svg');
                    position: absolute;
                    bottom: -36px;
                    right: 150px;
                }
            }
            .col-copy {
                margin-bottom: 65px;
            }
        }

        
        .sec_why {
            padding-top: 110px;
            position: relative;
            min-height: 1185px;    
            overflow: hidden;
            
            &:before {
                content: '';
                background: #f4e4d4;
                height: 765px;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: -1;
            }            
            
            h2.section_title {
                position: relative;
                margin: 0 auto 65px;

                &:after {
                    content: url('../img/icon/icn-title-why.svg');
                    position: absolute;
                    bottom: -50px;
                    right: 0;
                }
            }

            .row-top {                
                align-items: flex-start;

                .col-image {
                    position: relative;

                    &:before {
                        content: '';
                        background: url(../img/bgs/img_why_dental_bg.jpg);
                        width: 482px;
                        height: 632px; 
                        position: absolute;
                        left: -250px;
                        top: -40px;
                        z-index: -1;
                    }
                }
            }

            .row-bottom {                
                align-items: flex-end;
                margin-top: -180px;

                .col-copy{  
                }

                .col-image {
                    position: relative;

                    &:before {
                        content: '';
                        background: url(../img/bgs/img_why_dental_2_bg.jpg);
                        width: 482px;
                        height: 632px; 
                        position: absolute;
                        right: -250px;
                        top: -111px;
                        z-index: -1;
                    }
                }

            }
        }

        .sec_what {
            padding: 70px 0 120px;

            h2.section_title {
                width: 100%;
                position: relative;
                &:after {
                    content: url('../img/icon/icn-title-what-serv.svg');
                    position: absolute;
                    bottom: -45px;
                    right: auto;
                    left: 0;
                }
            }

            .col-content {

                .tabs-panel {
                    .col-copy {
                        padding-top: 0;
                        margin-bottom: 0;
    
                        h3 {
                            color: $color-secondary;
                            font-size: 35px;
                        }
                        p{
                            font-size: 25px;
                        }
                    }
                    
                }

            }
            .col-copy {
                margin-bottom: 65px;
            }
        }

        .sec_inquiry {
            padding: 150px 0 100px;

            .section_title_wrap {
                
                h2.section_title {
                    width: 100%;
                    position: relative;
                    margin-bottom: 0;
                    &:after {
                        content: url('../img/icon/icn-title-ques.svg');
                        position: absolute;
                        right: 128px;
                        top: 27px;
                    }
                }

            }

            .col-title {
                margin-bottom: 75px;

                .col-copy {
                    h4 {
                        color: $color-secondary!important;
                    }
                }
            }
            .col-form {
                position: relative;
                &:before {
                    content: '';
                    background: url(../img/bgs/img_hav_ques.jpg) no-repeat;
                    width: 392px;
                    height: 663px;
                    position: absolute;
                    left: -30px;
                    top: -88px;
                    z-index: -1;
                }
            }
        }
        
        .sec_recent_posts {
            color: $color-primary;
            padding: 80px 0 170px;
            position: relative;

            figure.bg {
                z-index: -1;
                top: auto;
            }
            
            h4.section_title {
                
                font-weight: 700;
                text-transform: uppercase;
                font-size: 22px;
                width: 100%;

                &:after {
                    display: none;
                }
            }

           .post_wrap {

                &.odd {
                    margin-top: 48px;
                }

                figure.featured_img {
                    margin-bottom:28px;
                }

                h4 {
                    font-weight: 700;
                    font-size: 25px;
                    color: $color-dark;
                    text-transform: normal;
                }

                p {
                    text-transform: normal;
                    font-size: 17px;
                    color: $body-color;
                }
            }
        }
        @include media(max-width,1599px){
            .sec_recent_posts {
                .recent_posts {
                    justify-content: center;
                    .post_wrap {
                        &.even {
                            margin-top: 48px;
                        }
                    }
                }
            }
        }

        @include media(max-width,1366px){

            .sec_request {
                padding: 135px 0;
                min-height: auto;

                .img_request {
                    position: unset;
                }
            }

            .sec_what {
                .col-content .services-content .tabs-panel .content {
                    flex-direction: column;

                    .col-image {
                        margin-right: 0 !important;
                        margin-bottom: 30px;
                    }
                }
            }
            .sec_recent_posts {
                .grid-x {
                    justify-content: center;
                }
                .section_title {
                    margin-bottom: 48px !important;
                    
                }
                .post_wrap {

                    margin-bottom: 25px;
                }
            }
        }

        @include media(max-width,1520px){
            .sec_google_review {
                .section_title_wrap {
                    figure {
                        margin-right: 20px;
                    }
                    h4 {
                        font-size: 18px;
                    }
                }
            }
        }
        @include media(max-width,1440px){
            .sec_google_review {
                position: relative;
    
                .grid-container {
                    max-width: 1410px;
                    padding: 0;
                }
            }           
        }

        @include media(max-width,1919px){
           
            .sec_testimonials {

                .testimonials {
                    .slick-arrow {
                        bottom: -70px;
                        top: auto;

                        &.slick-prev {
                            left: auto;
                            right: 50%;
                        
                        }
                        &.slick-next {
                            left: 50%;
                        }

                    }
                }
            }

        }   

        @include media(max-width, 1280px){
            .sec_google_review {
                .section_title_wrap {
                    flex-direction: column;
                    align-items: center;
                    figure.sec_logo {
                        width: auto;
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        
        @include media (max-width, 1200px ){
            .sec_testimonials {
                h4 {
                    display: inline;
                }
            }

            .sec_why {
                .row-bottom {
                    margin-top: 0;
                }
            }
        }

        @include media(max-width,1024px){
            .sec_what {

                .col-image {
                    margin-right: 0 !important;
                    margin-bottom: 25px;

                    figure {
                        width: auto !important;
                        margin: 0 auto;
                        text-align: center;
                    }
                }

                .col-tabs {
                    width: 100% !important;
                    .services-tabs {
                        border-right: 0 !important;
                        padding-right: 14px;
                    }
                }

                
                .col-content {
                    width: 100% !important;
                }

                .col-copy {
                    width: 100%;               
                    text-align: center;
                }

                .col-tabs {
                    .services-tabs {
                        border-right: 0 !important;
                        padding-right: 14px;
                    }
                }

                .section_title {
                    &:after {
                        bottom: -60px !important;
                        right: auto !important;
                        left: 36% !important;
                    }
                }
            }

            .sec_request {

                .cta_link {
                    display: inline;
                }

                .gform_footer {
                    .button {
                        min-width: 234px;
                    }
                }
            }
            
        }

        @include media(max-width,1023px){

            .section_title_wrap {
                margin-bottom: 25px;
            }

            .section_title { 

                margin-bottom: 0 !important;
            }
            
            .sec_request {
                padding: 0;
                .col-image {
                   .img_request {
                       display: none;
                   }
                }
                .section_title {
                    &:after {
                        right: 70px!important;
                    }
                }
            }
            .sec_what {
                padding: 70px 0;
                .col-content {
                    padding-left: 0;
                    
                    .tabs-panel {
                        .content{
                            .col-image {
                                margin-right: 0;
                            }
                            h3 {
                                font-size: 30px;

                            }
                            p{
                                font-size: 16px;
                            }
                        }
                    }
                }

                .section_title {
                    &:after {
                        bottom: -50px!important;
                        right: 210px!important;;
                        left: auto!important;;
                    }
                }
            }

            .sec_why {
                background: #f4e4d4;
                z-index: -1;

                &:before {
                    display: none;
                }

                .section_title {
                    margin: 0 !important;

                    &:after {
                        right: 100px!important;
                    }
                }
                .row-top,
                .row-bottom {
                   .cell {
                    margin-bottom: 30px;
                   }
                }
                
                .col-image {
                    &:before {
                        display: none;
                    }
                }

                .row-bottom {
                    .col-copy {
                        order: 2;
                    }
                    .col-image {
                        order: 1;
                    }
                }
            }

            .sec_google_review {
                .section_title {
                    &:after {
                        right: 160px!important;
                    }
                }
                .col-copy {
                    padding: 30px !important;

                    .text_wrap {
                        p {
                            color: $color-grey;
                        }
                    }
                }
                figure {
                    &.bg {
                        position: unset;
                    }
                }
            }

            .sec_inquiry {
                .section_title {
                    &:after {
                        right: 230px!important;
                        top: auto!important;
                        bottom: -30px!important;
                    }
                }
            }

            .sec_request,
            .sec_google_review,
            .sec_what,
            .sec_why,
            .sec_testimonials,
            .sec_inquiry {
                .section_title {
                    text-align: center;
                    width: 100%;
                }
            }
        }

        @include media (max-width,480px) {

            .sec_what {
                .col-tabs {
                    .services-tabs {
                        padding-left: 50px;
                    }
                }
            }

            .sec_inquiry {
                .col-copy {
                    text-align: center;
                }
                .col-form {
                    &:before {
                        display: none;
                    }
                }

                h4 {

                    a {
                        display: block;
                        padding-top: 20px;

                    }
                }
            }
            
        }

    }

}